html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	/*overflow: hidden; */
}

.maincontent {
	width: 100%;
	height: 100%;
}

.page {
	width: 100%;
	height: 100%;
	position: relative;
}

.section-1 {
	background: url(https://pp.vk.me/c639220/v639220966/9d06/5__n_Q_gqng.jpg);
}

.section-2 {
	background: url(https://pp.vk.me/c639220/v639220966/9cfc/hVTwwvLLv-k.jpg);
}

.section-3 {
	background: url(https://pp.vk.me/c639220/v639220966/9d0f/hy8VVsSZZck.jpg );
}

h1, h2 {
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
	font-size: 48px;
	line-height: 42px;
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	text-align: center;
} 

.accordion__inner {
	display: none;
}

/* animaciya */

.slideshow {
	padding: 200px;
	width: 582px;
}

 element.style {
	display: block;
}


.slideshow__list:after {
	content: " ";
	clear: both;
}
/* .slideshow__list {
.clearfix;
} */

.slideshow__item {
	float: left;
	margin-left: 25px;

	/*&:first-child {
		margin-left: 0;
	}*/
}

.slideshow__item:first-child {
		margin-left: 0;
	}

.slideshow__display {
	width: 400px;
	height: 300px;
	border: 1px dashed #cccccc;
	position: relative; 
}

.slideshow__display img {
		display: block;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;
	}


.slideshow_list {
	padding-top: 15px;
} 

.slideshow_item {
	padding: 3px;
	border: 1px dashed #000000;
}
	.slideshow_item:hover {
		border: 1px solid #000000;
	
} 

.slideshow_item:active {
	border: 1px solid #000000;
	} 

.slideshow__pic {
	display: block;
	width: 90px;
	height: 80px;
}

.slideshow__pic.img {
	display: block;
	max-width: 100px;
	max-height: 80px;
}